body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 20px;
    background: url('../images/election.jpg') no-repeat;
    background-size: cover;
}

/* .classes #ids */
.container {    /*container is global */
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#count {
    /*text should be bold */
    font-weight: bold;
    /*space betwn the wordsc*/
    word-spacing: 20px;
}
ul{
    margin: 0;
    padding: 0;
}

/* header styles */

header {
    background: green;
    color: white;
    padding-top: 30px; 
    min-height: 70px; /* when the screen is smaller adjust height to this size */
    border-bottom:black 3px solid;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px
}

header #brand{
    float: left;
}

header #brand h1{
    margin: 0;
}

header nav {
    float: right;
}

/* setting styles on headers highlight and current classes */
header .highlight, header .current a{
    color: black;
    font-weight: bold
}

/*hovering effect on headers links */
header a:hover {
    color: red;
    font-weight: bold;
}

/* style the 'middle-section' section */
#middle-section {
    min-height: 400px;
    text-align: center;
    color: black;
    font-weight: bold
}

/* style the h1 in the middle section */

#middle-section h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: red
}

/* style the paragraph in the middle section */

#middle-section p{
    font-size: 20px;
}

/* style the footer section */

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: black;
    text-align: center;
}

.signup-page {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 1;
    background: red;
    width: 200px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
}

.form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: green;
    width: 100px;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
}

.forms {
    width: 500px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: 0 0 20px #000000b3;
    font-family:Arial, Helvetica, sans-serif;
}

.forms h1 {
    margin-top: 0;
    font-weight: 200;
}

.inputField {
    border: 1px solid green;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.inputField label{
    display: block;
    text-align: left;
    color: white;
    text-transform: uppercase;
}

.inputField input, .inputField textarea{
    width: 250px;
    color: black;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

button {
    display: inline-block;
    background: green;
    padding: 14px 0px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100px;

}

img {
    width: 200px;
    height: 150px;
}
.gallery {
    max-width: 950px;
    margin: auto;
    background: white;
    overflow:auto;
}
.photos {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 400px;
}

.photos img {
    width: 100px;
    height: auto;
}

.details {
    padding: 15px;
    text-align: center
}
img {
    width: 200px;
    height: 150px;
}
.gallery {
    max-width: 950px;
    margin: auto;
    background: white;
    overflow:auto;
}
.photos {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 400px;
}

.photos img {
    width: 100px;
    height: auto;
}

.details {
    padding: 15px;
    text-align: center
}


